-
    var list = [
        {
            icon: '',
            title: 'НИКАКОЙ СКРЫТОЙ КОМИССИИ',
            description: 'Это комментарий #1'
        },
        {
            icon: '',
            title: 'БЕСПЛАТНАЯ ОЦЕНКА СТОИМОСТИ',
            description: 'Это комментарий #2'
        },
        {
            icon: '',
            title: 'ОФИСЫ ПО ВСЕЙ РОССИИ',
            description: 'Это комментарий #3'
        }
    ]
each item in list
    section
        span
        h3= item.title
        h4= item.description