nav
    ul
        -
            var list = [
                "Главная",
                "Покупка",
                "Аренда",
                "Агенты",
                "Контакты"
                ]
        each item in list
            li
                a
                    p= item