head,body
    margin: 0 auto
    font-family: Arial,Helvetica,sans-serif

img
    display: none

@import "vars.sass"
@import "helpers.sass"
@import "header.sass"
@import "navbar.sass"
@import "main.sass"