article.address
    h2 АДРЕС
    section
        address
            p ул. Арбат, 1а, Москва, 119019, Россия
    section.map
    

article.contact-form
    h2 ЗАДАЙТЕ ЛЮБОЙ ВОПРОС, МЫ ОТВЕТИМ В САМОЕ БЛИЖАЙШЕЕ ВРЕМЯ:
    form(action="")
        input(type="text", name="name")
        input(type="text", name="title")
        input(type="email", name="name")
        textarea(name="message", cols="30", rows="10")
        input(type="submit", value="Отправить")

article.contacts
    h2 ХОТИТЕ ПООБЩАТЬСЯ С АГЕНТОМ? ЗВОНИТЕ ИЛИ ПИШИТЕ НАПРЯМУЮ:
    section.email
        p Email: info@mysite.ru
    section.tel
        p Телефон: +7 (495) 000-00-01