-
    var list = [
        {
            author: 'Анатолий Первых',
            comment: 'Это отзыв Клиента. Отредактируйте его, напишите хороший отзыв о вашей компании и услугах.'
        },
        {
            author: 'Иван Фадеев',
            comment: 'Это отзыв Клиента. Отредактируйте его, напишите хороший отзыв о вашей компании и услугах.'
        },
        {
            author: 'Андрей Большов',
            comment: 'Это отзыв Клиента. Отредактируйте его, напишите хороший отзыв о вашей компании и услугах.'
        }
    ]
each item in list
    section
        span.icon
            i.fa.fa-quote-left
        p.comment= item.comment
        p.author= ' - ' + item.author